[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/cpptrace"]
	path = external/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
